<!DOCTYPE html>
<html>
  <head>
    <style>
      .divrow {
        width: 100%;
        text-align: center; 
      }
      .divblock {
        width: 100px;
        float: left;
      }
    </style>

    <script>    
      async function streamer(path, output_element){
        //output_element.innerHTML = "Checking connection to camera...";
        const response = await fetch(path);
        const readableStream = response.body;
        const reader = readableStream.getReader();
        while (true) {
            const { done, value } = await reader.read();
            if (done) break;
            var text = new TextDecoder("utf-8").decode(value);
            const objects = text.split("\n");
            console.log(objects);
            message = JSON.parse(objects.at(-2)).message;
            output_element.innerHTML = message
        }
        return message
      }

      async function toggle_connect(connectivity){
        connection_message_holder = document.getElementById("connection_message")
        if (connectivity =='OK'){
          connection_message_holder.innerHTML = 'Attempting to disconnect...'
          message = await streamer("/disconnect",connection_message_holder)
          console.log(message)
          if (message == 'Camera disconnected'){
            document.getElementById('camera_list').src = '\list?mode={{mode}}';
            document.getElementById("connection_status").innerHTML = "Disconnected";
            document.getElementById("connection_button").value = "Connect";
            document.getElementById("connection_button").onclick = function() {toggle_connect('error');};
          }
        }
        else{
          connection_message_holder.innerHTML = 'Attempting to connect...'
          status = await streamer("/connect",connection_message_holder)
          console.log(message);
          if (message == 'Camera Online!'){
            document.getElementById('camera_list').src = '\list?mode={{mode}}';
            document.getElementById("connection_status").innerHTML = "Connected";
            document.getElementById("connection_button").value = "Disconnect";
            document.getElementById("connection_button").onclick = function() {toggle_connect('OK');};
          }
        }
      }
    </script>

  </head>
  <body style="margin:0px;padding:0px;overflow:hidden;height:80vh">

    <h1>Wildlife Camera</h1>

    <div class="divrow">
      <div class="divblock">
        <div id="connection_status">
          {% if connectivity=='OK'%}
          Connected
          {% else %}
          Disconnected
          {% endif %}
        </div>
      </div>
      <div class="divblock">
        <input type="button" id="connection_button" onclick="toggle_connect('{{connectivity}}');" value="{{'Disconnect' if connectivity=='OK' else 'Connect'}}" />
      </div>
      <div class="divblock" style="width:200px">
        <div id="connection_message"></div>
      </div>
    </div>
    
    <iframe id="camera_list" src = "/list?mode={{mode}}" frameborder="0" style="overflow:hidden;height:100%;width:100%"></iframe>

    <script>
      //var connectivity='{{connectivity}}';
      //if (connectivity=='OK'){
      //  document.getElementById('camera_list').src = '\list?mode={{mode}}';
      //}
    </script>
  </body>

</html>