<html>

<head>


<style>
    .actions{
        color: red;
    }
</style>

<script>
    function delete_media(location, filename, filetype){
        var xhr = new XMLHttpRequest();
        var url = "/delete?location="+location+"&filename="+filename+"&filetype="+filetype// + encodeURIComponent(JSON.stringify({"location": location, "filename": filename, "filetype":filetype}));
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                if (json.status = 'OK'){
                    window.location.reload();
                }
                else{
                    alert(json.message)
                }
            }
        };
        xhr.send();
    }
</script>

</head>

<body>
    <table border="1">
        <thead>
            <tr>
                {% for col in colnames %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% for col in colnames %}
                <td class="{{col}}">
                    {% if record[col] is iterable and record[col] is not string  %}
                        {% for element in record[col] %}
                        {{element |safe }}
                        {% endfor %}
                    {% else %}
                        {{ record[col] | safe }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>


</html>
